@page {size: landscape}

* {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
#listausers * {
visibility: initial !important;
height: 100% !important;
overflow: visible !important;
}